.wrapper{
  width: 800px;
  height: 1200px;
  background-color: gray;
}

.header{
  width: 800px;
  height: 139px;
  background-color: green;
  display: block;
}

/*.header h1{
  padding-top:-20
}*/

.logo{
  width:85px;
  height:auto;
  display: inline-block;

}

h1 p{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  padding-top: 30px;

}


 h2{
  color: white;
  background: linear-gradient( #2B699D, #4F81A9, #2B699D);
  width: 770px;
  margin-top: -59px;
  padding:15px;
 }

span{
  color: blue;

}

.body{
  width: 800px;
  height: 1200px;
  display: block;
  background-color: red;
}

.body-left{
  width: 200px;
  height: 1200px;
  display: inline-block;
  background-color: yellow;
  vertical-align:top;
}

.watch-video{
  color:white;
  display:inline-block;
  padding: 3px 23px 3px 23px;
  border-radius: 8px;
  background: linear-gradient(#4f92ff, #104EB2);
  width: 155px;
  height: 30px;
}

.more-resources{
  color:white;
  display:inline-block;
  padding: 3px 23px 3px 23px;
  border-radius: 8px;
  background-color: blue;
  width: 155px;
  height: 30px;
}


.body-right{
  width: 585px;
  height:1200px;
  display: inline-block;
  background-color: blue;
  vertical-align:top;

}

.home{
  width: 35px;
  height: auto;
}
.body img{
  width:90px;
}


.button-overlay{
  width: 150px;
  height: 180px;
  padding-bottom: 80px;
  background-image: url(images/ad_background.png);
  text-align: center;
}

.button-overlay p{
  color:white;
  font-size: 20px;
  text-align: center;
}

.box-bar{
  display:inline-block; 
}
.button-two{
  display:inline-block;
  padding: 3px 23px 3px 23px;
  border-radius: 8px;
  color: white;
  background-color: blue;
}
