<div style="margin:75px">
  <div style="text-align: center;">
    <img style="width: 154px;height: 154px;" src="../../../../assets/fireworks.png">
  </div>
  <div style="text-align:center">
    <div class="congratulation">Congratulations !</div>
    <div class="your-project-has">Your project has been posted.</div>
  </div>
  <div style="text-align: center; margin: 24px;">
    <button md-button class="congratulation-button">View Project</button>
    <button md-button class="congratulation-button">Edit Project</button>
  </div>
</div>