.md-min-width {
    min-width: 180px !important;
}

.md-min-height {
    min-height: 50px !important;
}

div>span {
    font-family: Arial;
    font-size: 18px;
    color: #000000;
    text-decoration: none solid rgb(0, 0, 0);
}