.wrapper{
  background-color:blue;
  width:975px;
  height:auto;

}
.header{
  background-color:yellow;
  width:975px;
  height:200;
1

}

.main{
  background-color:pink;

}
.sidenav{
  background-color:orange;

}
.smallboxes{
  background-color:red;

}
.footer{
  background-color:green;

}
