<div style="background-image:url(assets/landing-top.jpg);height: 400px; width: 100%;background-size: 100% 100%; ">
  <div layout="column">
    <div layout="row" layout-wrap class="push-top-xxl">
      <div flex="5">
      </div>
      <div flex="75">
        <div class="md-display-2 tc-light-green-A700">CROWD POWERED</div>
      </div>
      <div flex="20">
      </div>
      <div flex="5">
      </div>
      <div flex="75">
        <div class="md-display-2 tc-light-green-A700 pull-top-lg">PRODUCT INNOVATION</div>
      </div>
      <div flex="20">
      </div>
      <div flex="5">
      </div>
      <div flex="75">
        <p class="md-body-1 tc-grey-50 ">Crowd Powered Product Innovation is revolutionizing the way companies innovate. As innovation continues to be at
          the forefront of digital disruption, companies look to outsourcing for their next “big idea.”
        </p>
      </div>
      <div flex="20">
      </div>
      <div flex="5">
      </div>
      <div flex="75">
        <div class="md-body-1 tc-grey-50">Digital Workforce has been pioneering the concept of crowdsourced virtual garages that support a structured innovation
          process executed by ad-hoc distributed teams with transient participation. These distributed teams are formed from
          passionate crowd that would like to contribute in their passion areas as well bench crowd that have idle capacity
          while on the bench. Crowdsourced virtual garage teams follow a structured process on the platform to create a pipeline
          of new product opportunities for organizations through a repeatable design and prototype process inspired by design
          and lean thinking</div>
      </div>
      <div flex="20">
      </div>
    </div>
  </div>
</div>
<div layout="row" layout-wrap>
  <div flex="20">
  </div>
  <div flex="20">
    <span class="mat-button-wrapper">
      <div class="mat-button-ripple" md-ripple>
    <md-card class="md-card-selectable" [tabIndex]=0>
      <md-card-content style="text-align: center">
        <md-icon class="tc-green-400" style="font-size: 75px">local_library</md-icon>
        <h1 class="tc-green-500 pull-top-xs">Learn</h1>
        <p style="text-align: left">Dive into a world of valuable information about the Crowd Powered Product Innovation Platform. Browse Success Stories and blogs...

        </p>
      </md-card-content>

    </md-card>
      </div>
    </span>
  </div>
  <div flex="20">
    <span class="mat-button-wrapper">
      <div class="mat-button-ripple" md-ripple>
        <a class="simplea" [routerLink]="['/selectproject']">
    <md-card class="md-card-selectable" [tabIndex]=0 >
      <md-card-content style="text-align: center">
        <md-icon class="tc-green-400" style="font-size: 75px">create</md-icon>
        <h1 class="tc-green-500 pull-top-xs">Create</h1>
        <p style="text-align: left">Want to get started with an innovation process?
        Our system will help you run a successful innovation process powered by the crowd
        </p>
      </md-card-content>
    </md-card>
    </a>
      </div>
    </span>
  </div>
  <div flex="20">
    <span class="mat-button-wrapper">
      <div class="mat-button-ripple" md-ripple>
    <md-card class="md-card-selectable" [tabIndex] = 0>
      <md-card-content style="text-align: center">
        <md-icon class="tc-green-400" style="font-size: 75px">forum</md-icon>
        <h1 class="tc-green-500 pull-top-xs">Interact</h1>
        
        <p style="text-align: left">Connect with the experts and have your queries answered  
        </p>
        <br>
      </md-card-content>
    </md-card>
      </div>
    </span>
  </div>
  <div flex="20">
  </div>
</div>

<div style="background-image:url(assets/landing-mid.jpg);height: 400px; width: 100%;background-size: 100% 100%; ">
  <div layout="column">
    <div layout="row" layout-wrap class="push-top-xxl">
      <div flex="55">
      </div>
      <div flex="40">
        <div class="md-headline tc-light-green-A700" style="text-align:right">Success Story</div>
      </div>
      <div flex="5">
      </div>
      <div flex="45">
      </div>
      <div flex="50">
        <p class="md-title tc-light-green-A700 " style="text-align:right">Designing the Car Seat Experience of the Future</p>
      </div>
      <div flex="5">
      </div>
      <div flex="35">
      </div>
      <div flex="60" class="md-body-1 tc-grey-50 ">
        <p>We used the crowd powered product innovation to Design the Car Seat Experience of the Future. The key activities
          in this design sprint include– </p>
        <p> Creation of various kinds of job on Digital Talent Broker to successfully conduct the design sprint of car seat experience
          of the future. These jobs included Background Research Jobs, Pain Point Interview Jobs, Design Sprint Participant
          Jobs, Design Sprint UX Designer Jobs
        </p>
        <p>Secondly we created various templates that facilitate crowd people performing the various tasks like background research
          and pain point interviews.
        </p>
        <p> Next, the bench crowd were invited to the design sprint with a sprint facilitator (using a structured script and
          sprint plan) facilitating the session. Various people worked together in the vendor tool Mural.co. They used a
          visual whiteboard in Mural to perform the following activities .......
        </p>
      </div>
      <div flex="5">
      </div>

    </div>
  </div>
</div>
<div style="background-image:url(assets/landing-bottom.jpg);height: 400px; width: 100%;background-size: 100% 100%; ">
  <div layout="column">
    <div layout="row" layout-wrap class="push-top-xxl">
      <div flex="5">
      </div>
      <div flex="95">
        <div class="md-headline tc-light-green-A700">Success Story</div>
      </div>

      <div flex="5">
      </div>
      <div flex="95">
        <p class="md-title tc-light-green-A700 ">Reimagining the Bench</p>
      </div>

      <div flex="5">
      </div>
      <div flex="60" class="md-body-1 tc-grey-50 ">
        <p>A group of individuals with varying locations, ages, and experience came together to solve a problem. This time,
          it was an issue that directly affected their work lives: the bench experience. As we all know, many analysts and
          consultants have multiple weeks on the bench while rolling on and off their projects. This team was tasked gathering
          recommendations for the next iteration of the Digital Talent Broker. </p>
        <p>Although the Digital Talent Broker tool was effective in connecting individuals who needed short, the team began
          their sprint with a few goals in mind. The first goal was to continue to leverage a passionate crowd within Accenture
          to create a dynamic, liquid crowdsourced virtual garage team. The second goal was to execute a few stages of the
          structured product innovation process .......
        </p>
      </div>
      <div flex="35">
      </div>

    </div>
  </div>
</div>
