.wrapper{
    width:970px;
    height:auto;
    background-color:#1A1A1A;


}

.header-container{
    display:block;
    width:970px;
    height:115px;
    background-color:#1A1A1A;


}
/* logo is div2 under container*/
.logo{
    display:inline-block;
    width:222px;
    height:67px;
    background-color:#1A1A1A;
    margin-top:35px;
    margin-left: 25px;


}

.call{
    display:inline-block;
    width:150px;
    height:15px;
    vertical-align:top;
    margin-top: 25px;
    margin-left: 550px;
    color:white;
}
.navbar-container{
    /*background-color: red;*/
    background: linear-gradient(#bbbcbf, #606163);
    width: 970px;
    height: 30px;
}
.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    /*float: left;*/
    display: inline-block;
}

li a {
    color: #d2d4d8;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    border-right: 1px solid white;
}


.gallery-container{
    display:block;
    width:970px;
    height: 400px;
    background-color:brown;
}
.container-A{
    display: block;
    width: 970px;
    height: 200px;
    /*background-color: red;*/

}
.container-A-box-One{
    display: inline-block;
    height: 150px;
    width: 220px;
    vertical-align: top;
    margin: 0 5px;

    /*background-color: aqua;*/
}
.container-A img{
    /*display: inline-block;*/
    margin: 20px 0 20px 10px;
}
.container-A-box-One span a{
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: orange;
    /*width: 80px;
    height: 150px;*/
}
.container-A-box-One span{
    display: inline-block;
    font-size: 12px;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: -60px;
    vertical-align: top;
    color: white;

    /*width: 100px;
    height: 150px;*/
}
.container-A-box-Two{
    display: inline-block;
    height: 150px;
    width: 220px;
    background-color: green;
    margin: 0 5px;
}

.container-A-box-Two span a{
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: orange;
    /*width: 80px;
    height: 150px;*/
}
.container-A-box-Two span{
    display: inline-block;
    font-size: 12px;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: -60px;
    vertical-align: top;
    color: white;
}



.container-A-box-Three{
    display: inline-block;
    height: 150px;
    width: 220px;
    background-color: green;
    margin: 0 5px;
}
.container-A-box-Four{
    display: inline-block;
    height: 150px;
    width: 220px;
    background-color: green;
    margin: 0 5px;
}

/*.contain{
    display: block;
    width: 970px;
    height: 150px;
    background-color: red;
}*/
/*.midcontent-container{
    display:block;
    width:970px;
    height:150px;
    background-color:#1A1A1A;
    vertical-align;


}

.box1{
    width: 235px;
    height:150px;
    background-color:#1A1A1A;
    display:inline-block;



}



.content1{
    display:inline-block;

}

.box2{
    width: 220px;
    height:150px;
    background-color:#1A1A1A;
    display:inline-block;
    padding:1px;
    vertical-align:


}
.content2{
    display:inline-block;

}

.box3{
    width: 220px;
    height:150px;
    background-color:#1A1A1A;
    display:inline-block;
    padding:1px;



}

.content3{
    display:inline-block;

}

.box4{
    width: 220px;
    height:155px;
    background-color:#1A1A1A;
    display:inline-block;
    padding:1px;


}*/
/*
.content4{
    display:inline-block;

}


.buy-container{
    display:block;
    width:970px;
    height:120px;
    vertical-align:
    padding-bottom: 5px;
    background-color:#1A1A1A;
    background: repeating-linear-gradient(-55deg,#222,#222 10px, #333 10px,#333 20px);

}

.info{
    display:inline-block;

}


.port-option-container h4{
    color:#1A1A1A;
}

.port-option-container p{
    color:orange;
    margin-left:820px;
}



.port-option-container{
    display:block;
    width:970px;
    height:70px;
    background-color:#1A1A1A;
}


.portfolio-container{
    display:block;
    width:970px;
    height:325px;
    background-color:#1A1A1A;


}

.mini-box1{
    display:inline-block;
    width: 235px;
}

.mini-box2{
    display:inline-block;
    width: 235px;

}

.mini-box3{
    display:inline-block;
    width: 235px;

}

.mini-box4{
    display:inline-block;
    width: 235px;

}



.footer-container{
    display:block;
    width:970px;
    height:25px;
    background-color:#1A1A1A;
}

.back-text{
    margin-right:100px;
}




*/