.container{
  display:block;
  width:  970px;
  background-color:#265175;
}
.textsize{
  text-align: right;
}

}
.header{
  display: inline-block;
  heght:200px;
  width:auto;
  background-color:red;


}
.searchbox{
  display:inline-block;
  text-align: right;
}
.search{
  width:100px;
  vertical-align: top;
  text-align: left;
}
.search p{


}
.bluebar li{
  display: inline;
}
.bluebar ul{
    text-align;

}
.bluebar a{
    padding: 8px;
    border-radius: 80px;
}

.navigatormain{
  display:inline;
  background-color:#467EAB;
  height:25px;
  width:50px;
  align-content: right;
}

.navigatorside{
  display: inline-block;
  background-color:00000;
  width:50px;
  align-content: left;

}
.main{
  display: inline-block;
  width: 250px




}
.quote{
  color:yellow;
  align-content:center;

}
.zen{
  color:white;

}
.smallboxleft{

}
.smallboxright{

}
.sectionone{

}
.sectiontwo{

}
.footer1{

}
.footer2{

}
