*{
  margin: 0px;
  padding: 0px;
}
.wrapper{

  display: block;
}
.text_size{

}
.header{
    background-color: red;

}
.logo{

}
.search{

}
.navbar{

}
.maincontent{

}
.side_navigation{

}
.subcontent{

}
.stripleft{

}
.stripright{

}
.boxright{

}
.footer{

}
.mainfooter{

}
.copyright{

}
