.wrapper{
  background-color:blue;

}
.header{
  background-color:yellow;

}

.main{
  background-color:pink;

}
.sidenav{
  background-color:orange;

}
.smallboxes{
  background-color:red;

}
.footer{
  background-color:green;

}
