.wrapper{
  width:1200px;
  height:auto;

}
.content{
  width:1200px;
  height:1200px;
  display: block;
  background-color:red;

}
.gallery{
  width:800px;
  height:auto;
  display:inline-block;
  background-color: yellow;

  }

.pokedex{
  width:400px;
  height:200px;
  display: inline-block;
  background-color:green;

}
